.svn/
.git/
*.bak*

# Maven
target/
integration-tests/tests/fwdir/

# Eclipse
eclipse_config
.project
.classpath
.settings
*/.settings
git.properties

# Intelli-J
*.iml
*.ipl
.idea/

# etc
dependency-reduced-pom.xml
**/resources/git.properties